{% extends 'layout.html.twig' %}
{% block body %}
    <div class="title">
            <h1>Bienvenue dans la creation de projet.</h1>
    </div>

    <div class="centered">
        {{ form_start(form, {'action' : 'http://www.google.com'}) }}
        <div id="project_div">
            {{ form_widget(form.name, { 'attr': {'class': 'rk5_input', 'placeholder': 'Project name'} }) }}
        </div>

        <div id="password_div">
            {{ form_widget(form.password, { 'attr': {'class': 'rk5_input', 'placeholder': 'Project password'} }) }}
        </div>

        {#{{ form_widget(validate) }}#}
        {{ form_end(form) }}
    </div>
    <script src="/js/homepage.js"></script>
{% endblock body %}
