{% extends 'layout.html.twig' %}
{% block body %}
    <div class="centered">
        {{ form_start(form, {'action' : 'http://www.youporn.com'}) }}
        <div id="project_div">
            {{ form_widget(form.name, { 'attr': {'class': 'rk5_input', 'placeholder': 'Project name'} }) }}
            <a href="#" class="rk5_link">New project</a>
        </div>
        <div id="password_div">
            {{ form_widget(form.password, { 'attr': {'class': 'rk5_input'} }) }}
            <a href="#" class="rk5_link">Password forget ?</a>
        </div>
        {#{{ form_widget(validate) }}#}
        {{ form_end(form) }}
    </div>
    <script src="/js/homepage.js"></script>
{% endblock body %}
