{% extends 'front/base/layout.html.twig' %}
{% form_theme form 'theme/index_form.html.twig' %}

{% block body %}
    <div class="centered">
        {{ form_start(form) }}
        <div id="forget_div">
            {{ form_widget(form.name) }}
        </div>
        <div id="key_div">
            {{ form_widget(form.key) }}
            <div class="submit_div key_checker red_button"></div>
        </div>
        <div id="password_div">
            {{ form_widget(form.password) }}
        </div>
        {{ form_widget(form.token) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
    <script src="/js/forgetPassword.js"></script>
{% endblock body %}
