{% extends 'front/base/layout.html.twig' %}
{% form_theme form 'theme/index_form.html.twig' %}

{% block body %}
    <div class="centered">
        {{ form_start(form, {'action' : 'http://www.google.com'}) }}
        <div id="project_div">
            {{ form_widget(form.name) }}
            <a href="/project/create" class="rk5_link">New project</a>
        </div>
        <div id="password_div">
            {{ form_widget(form.password) }}
            <a href="{{ path('forget_password') }}" class="rk5_link">Password forget ?</a>
        </div>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
    <script src="/js/homepage.js"></script>
{% endblock body %}
